[core]
	excludesfile = /Users/badrbouslikhin/.gitignore
[user]
	name = Badr Bouslikhin
	email = bouslikhin.badr@gmail.com
[credential]
	helper = osxkeychain
[alias]
    graph = log --graph --all
    l = log --graph --all --decorate
    lg = log --graph --all --decorate --abbrev-commit
    all = log --graph --pretty=oneline --all --abbrev-commit --decorate
    alla = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all

[log]
    decorate = full
